/*custom color*/
header nav {
    box-shadow: #9c9c9c 1px 1px 4px;
}

/*login form*/
#form-login {
    margin: 150px auto;
}

section {
    margin: 20px;
}

/* index css*/
.back-ground-index {
    height: 450px;
    width: 100%;
    background-color: #0672ba;
}

#title-topper {
    margin-bottom: 20px;
}

#new-jobs {
    margin: 20px 0;
}

.show-more-jobs {
    text-align: end;
    margin: 10px 0;;
}

#feature-jobs .row .col-4, #feature-career .row .col-3, #feature-employee .row .col-4 {
    margin-bottom: 30px;
}

.txt-primary {
    color: #0672ba;
    text-transform: uppercase;
}

.back-ground-index {
    position: relative;
}

#form-find-jobs {
    padding-top: 400px;
    position: center;
    width: 100%;
    bottom: 0;

}

.profile-left {
    height: auto;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.big-box-left {
    padding: 15px 15px;
}

.box-left {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: #495057 1px solid;
}

.box-left:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.box-left:first-child {
    padding-top: 0px;
}

.box-left-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 15px;
}

.box-left-link {
    background: #cfd1d39c;
    color: black;
    border-radius: 2px;

}

.box-left-link a {
    text-decoration: none;
    color: rgb(54, 53, 53);
    font-size: 14px !important;
    line-height: 20px;
    text-transform: capitalize;

}

.box-left-link a:hover, .actived {
    color: rgb(124, 119, 119);
    background: #cfd1d39c;
}

.profile-img #change-image-proifile {

    width: auto;
    height: 300px;

}

.background-img {
    height: 200px;
    width: auto;
}

.background-img img {
    width: 100%;
    height: 200px;
}



.avatar-header {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.form-child {
    padding-bottom: 8px;
}

.errorLogin {
    display: none;
}

.change-content-click {
    border-left: 1px solid #1b1e21;
}

/*profile general*/


/* post job*/
.content-post-jobs {
    margin-top: 20px;
}

#heading {
    text-transform: uppercase;
    color: #0672ba;
    font-weight: normal;
    text-align: center;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
    text-align: left;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    /*background-color: #ECEFF1;*/
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #0672ba;
    outline-width: 0;
}

#msform .action-button {
    width: 100px;
    background: #0672ba;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0 10px 5px;
    float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92;
}

#msform .action-button-previous {
    width: 100px;
    /*background: #616161;*/
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: #0672ba;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
    color: #0672ba;
    font-weight: normal;
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

.fieldlabels {
    color: gray;
    text-align: left;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #0672ba;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #basic:before {
    font-family: FontAwesome, serif;
    content: "\f13e";
}

#progressbar #detail:before {
    font-family: FontAwesome, serif;
    content: "\f022";
}

#progressbar #company:before {
    font-family: FontAwesome, serif;
    content: "\f965";
}

#progressbar #confirm:before {
    font-family: FontAwesome, serif;
    content: "\f00c";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #0672ba;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #0672ba;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

/* 404 page*/
#main-404 {
    height: 80vh;
}

/* Dropdown Button */
.dropbtn-link {
    background-color: #0b87b2;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

div.navbar-text {
    padding: 0 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*fix layout */
.content-profile, .content-child {

    margin-top: 20px;
}

.require-field {
    color: red;
}

/*search-job*/
#apply-search-job {
    width: 100%;
}
.search-content{
    margin: 10px 0;
    background: #ffffff;
    padding: 20px ;
    border: 1px silver solid;
}
.search-content-background{
    padding: 30px 10px 10px 5px;
    background: rgba(51, 51, 52, 0.3);
}
/* ranking employer*/
.title-h1 {
    font-weight: bolder;
}

.number-1 {
    background-color: gold !important;
    color: black !important;
}

.number-2 {
    background-color: silver !important;
    color: white !important;
}

.number-3 {
    background-color: #9d4c0b !important;
    color: white !important;
}

.top-company {
    color: #333;
    border: 1px solid #D8D8D8;
    background: white;
    display: block;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

a.top-company:hover {
    text-decoration: none !important;
    color: #3e8e41;
}

.top-company__logo {
    width: 170px;
    height: 170px;
    margin: 30px auto 20px;
    line-height: 170px;

}

.top-company__name {
    margin-top: 10px;
    font-size: 20px;
    height: 56px;
}

footer.top-company__footer {
    margin-top: 20px;
}

span.top-ranking {
    background-color: #0b87b2;
    display: inline-block;
    padding: 8px 90px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: -65px;
    top: 29px;
    z-index: 22;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 16px;

}

.text-center {
    text-align: center;
}


.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: .25rem !important;
    padding: 6px 12px;
    height: calc(2.19rem + 2px) !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 5px !important;
    right: 1px;
    width: 20px
}

a:hover {
    text-decoration: none;
}

/*navbar review */
#navbarText ul {
    width: 100%;
}

#navbarText ul li {
    text-align: center;
    width: 33%;
}

/* review company */
.list-company {
    background-color: white;
    border: 1px solid black;
}

.review-list-item {
    cursor: pointer;
    padding: 20px 0;
}

.review-list-item:hover {
    background-color: rgba(162, 153, 153, 0.66);
}

.review-list-item-img {
    height: auto;
    width: 90px !important;
}

.review-list-item-text {
    align-self: center;
}

.review-list-item-text h3 a {
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-list-item-text h3 a:hover {
    color: #3e8e41;
}

span.badge {
    float: right;
}

.fa-star {
    color: #ffdd57;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-full-width {
    min-width: 1300px;
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}
/*custom intro employer*/
.background-intro {
    background-image: url("../../images/cover-background-employer.jpg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-intro{
    background-color: rgba(0, 0, 0, 0.72);
    opacity: .9;
    height: 600px;
    color: silver;
    padding-top: 150px ;
}
.go-to-post button a {
    text-decoration: none;
    color: #fff;
}
/*index*/
#jobs
{
    position: absolute;
    margin-top: 30px;
}

.top-jobs
{
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px 0;
}
.loading
{
    position: absolute;
    top: 60%;
    left: 50%;

}
.fa-star
{
    color: yellow !important;
    padding-right: 10px;
}
#list-jobs  h2
{
    font-size: 17px;
    background: rgb(181, 211, 228);
    margin: auto;
    padding: 14px;
}

.row
{
    margin-right: -15px;
    margin-left: -15px;
}
.box-title a:hover, .box-title a:focus
{
    font-size: 17px;

}
/* .feature-job
{

} */
.feature-job-item
{
    background-color: #fff;
    padding: 5px;
    border-radius: 2px;
    margin: 5px 0;
    border: 1px solid hsla(0,0%,93%,.8);
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
}
.feature-job-item .box-logo
{
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;

}
.feature-job-item .col-logo
{
    padding-right: 0;
}
.feature-job-item .col-title
{
    padding-left: 0;
}
.feature-job-item .col-title .title
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title a
{
    color: chocolate;
}
.title a:hover,.title a:focus
{
    color: rgb(250, 105, 1);
}
.feature-job-text
{
    background: #BB3F30;
    color: white;
    padding: 5;
    border-radius: 5px;

    float: left;
    margin-right:5px;
}
.job-text
{
    padding:0.8em;
    font-size: 12px;
}
.job-deal,.job-location
{
    font-size: 12px;

}
.job-location
{
    float: right;
}
.img-size
{
    height: auto;
    width: 100%;
    margin-top: 8px;
}
.top-companies
{
    margin-bottom: 25px;
}
.top-companies h2
{
    font-size: 17px;
    background: rgb(142, 170, 187);
    margin: auto;
    padding: 14px;
    margin-bottom: 10px;
}
.feature-company
{
    margin-bottom: 25px;
}
.top-company
{
    color: #333;
    border: 1px solid #D8D8D8;
    background: white;
    display: block;
    padding: 20px;
}
.top-company:hover, .top-company:focus
{
    text-decoration: none;
    cursor: pointer;
    color: #333;
    box-shadow: 0 0 5px 1px #bcbcbc;
}
.company-logo
{
    width: 170px;
    height: 170px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 170px;

}
.company-name
{
    margin-top: 10px;
    font-size: 20px;
    height: 56px;
}
.link
{
    color: #ea2635;
    text-decoration: none;
    border-bottom: 1px dotted #ea2635;
    outline: none;
}
.card-img {
    background-image: url(../../images/gradient1.jpg);
}
.no-mrg {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.col-btn{
    align-self: center;
}
.feature-job-item .box-logo-search {
    width: 120px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.detail-pic {
    position: relative;
    display: block;
    right: 44%;
    top: -50px;

}

.detail-pic img {
    position: absolute;
    border-radius: 50%;
    top: 0;
    height: 138px;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
a.detail-edit {
    position: absolute;
    left: 40%;
    bottom: -12px;
    background-color: #fff;
    padding: 8px;
    border: 1px solid black;
    border-radius: 100%;
    color: black;
}